body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #333;
    color: #fff;
}

#corpo {
    max-width: 1180px;
    min-height: calc(100vh - 100px);
    font-family: Arial, sans-serif;
    margin: 75px auto 10px;
    padding: 10px;
    background-color: #7b3b3b;
    color: #9795e2;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-align: right;
    background-color: #fff;
    color: #fff;
    margin-top: 25px;
    padding: 0 20px;
}

#emblema {
    margin-top: 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    list-style: none;
}

li .menu {
    font-family: 'open_sansbold';
    font-size: 1.1em;
    margin-right: 10px;
    text-decoration: none;
    color: #4c4c4c;
    -webkit-border-box: 0 1px 0 0 #ebebeb;
    border-bottom: 4px solid transparent;
    transition: border-bottom .3s linear;
}

li .menu:hover {

    border-bottom: 4px solid #4c4c4c;
}

#dropmenu {
    display: inline-block;
    position: relative;
}

#meu-drop {
    top: 100%;
    display: flex;
    position: absolute;
    padding: 5px;
    padding-right: 20px;
    box-shadow: 0px 2px 5px rgb(255, 12, 12);
    background-color: #ff0303;
}

#contato-content {
    display: none;
    position: relative;
    margin: 20px;
    padding: 20px;
    top: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(11, 0, 0);
    z-index: 1;
}

/*.slideshow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: 150px;
    transform: translate(0, 0);
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    animation: slide-animation 10s infinite;
}*/

/*#slide1 {
    background-image: url('conquistas.png');
}*/

@keyframes slide-animation {
    0% {
        opacity: 0;
    }

    33.33% {
        opacity: 1;
    }

    66.66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}